{% extends "base.html" %}

{% block content %}

    <h2>Twoje konta</h2>
    <p>Lista posiadanych kont</p>
    <table class="table">
        <thead>
            <tr>
                <th>Nr konta</th>
                <th>Typ konta</th>
                <th>Saldo</th>
                <th>Waluta</th>
            </tr>
        </thead>
        <tbody>
            {% if accounts %}
                {% for account in accounts %}
                    <tr>
                        <td>{{ account.account_nr }}</td>
                        <td>{{ account.account_type }}</td>
                        <td>{{ account.balance }}</td>
                        <td>{{ account.currency }}</td>
                    </tr>
                {% endfor %}
            {% else %} 
                    <tr>
                        <td colspan="5" class="text-center">Nie posiadasz jeszcze żadnych kont</td>
                    </tr>
            {% endif %}
        </tbody>
    </table>

{% endblock %}
